# Whitney Hady

### Content list

- Import libraries
- Import data
- Merging data
- Export Data

#### Import libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

#### Import data

In [2]:
# Create path
path = r'C:\Users\hardy\10-2025 Instacart Basket Analysis'

In [3]:
# Import dataframes
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [4]:
#checking outputs
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [5]:
#check output
df_ords.shape

(3421083, 9)

In [5]:
#Import dataframes
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
#checking outputs
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
#check output
df_ords_prior.shape

(32434489, 4)

In [7]:
#check output
df_ords.shape

(3421083, 9)

In [11]:
df_ords = df_ords.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [12]:
df_ords.shape

(3421083, 7)

#### Merging data

In [20]:
#merging data- 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
#checking output
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
df_merged_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

In [15]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [16]:
df_merged_large.shape

(32640698, 13)

In [18]:
df_merged_large.head(10)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,1868044,1868044,1,112108,4,4,10,9.0,False,NaN,NaN,NaN,left_only
1,3355525,3355525,2,202279,3,5,9,8.0,False,33120.0,1.0,1.0,both
2,3355525,3355525,2,202279,3,5,9,8.0,False,28985.0,2.0,1.0,both
3,3355525,3355525,2,202279,3,5,9,8.0,False,9327.0,3.0,0.0,both
4,3355525,3355525,2,202279,3,5,9,8.0,False,45918.0,4.0,1.0,both
5,3355525,3355525,2,202279,3,5,9,8.0,False,30035.0,5.0,0.0,both
6,3355525,3355525,2,202279,3,5,9,8.0,False,17794.0,6.0,1.0,both
7,3355525,3355525,2,202279,3,5,9,8.0,False,40141.0,7.0,1.0,both
8,3355525,3355525,2,202279,3,5,9,8.0,False,1819.0,8.0,1.0,both
9,3355525,3355525,2,202279,3,5,9,8.0,False,43668.0,9.0,0.0,both

In [21]:
#merging data- 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [22]:
#testing output 
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

#### Export data

In [23]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))