# Whitney Hardy

## Content list 
- Import libraries
- Import data
- Merge data
- Clean merged data
- Export data

#### Import libraries

In [13]:
#importing libraries
import pandas as pd
import numpy as np
import os

#### Import data

In [14]:
#create a path
path = r'C:\Users\hardy\10-2025 Instacart Basket Analysis'

In [15]:
#check path 
path

'C:\\Users\\hardy\\10-2025 Instacart Basket Analysis'

In [16]:
#importing orders_products_combined dataframe
orders_products_combined = pd.read_pickle(os.path.join(path, '02 data' , 'prepared data' , 'orders_products_combined.pkl'))

In [17]:
#check shape
orders_products_combined.shape

(32434489, 13)

In [18]:
orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [19]:
#importings products dataframe
df_prods = pd.read_csv(os.path.join(path, '02 data' , 'prepared data' , 'products_checked.csv'), index_col = 0)

In [20]:
#checking shape
df_prods.shape

(49670, 5)

In [21]:
#check
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### Merge data

In [22]:
#testing merge
ords_prods_merge = orders_products_combined.merge(df_prods, on = ['product_id'], indicator = 'Match')

In [23]:
#check output 
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [24]:
# drop the flag column '_merge' from the previous merge
ords_prods_merge.drop('_merge', axis = 1 )

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32399727,3421081,3421081,2977660,206209,13,1,12,7.0,False,14197,5,1,Tomato Paste,9,9,5.6,both
32399728,3421081,3421081,2977660,206209,13,1,12,7.0,False,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32399729,3421081,3421081,2977660,206209,13,1,12,7.0,False,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32399730,3421081,3421081,2977660,206209,13,1,12,7.0,False,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32399731,3421081,3421081,2977660,206209,13,1,12,7.0,False,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

#### Clean merged data

In [25]:
#drop unnamed columns 
ords_prods_merge.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)

In [27]:
#check output 
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [26]:
# chek the shape 
ords_prods_merge.shape

(32399732, 16)

In [28]:
#check results using merge flag
ords_prods_merge['_merge'].value_counts()

_merge
both          32399732
left_only            0
right_only           0
Name: count, dtype: int64

#### Export data

In [29]:
#export merged dataframe
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))