# Whitney Hardy 
## Task 4.4 Data Wrangling & Subsetting

## Content list
### Exxercise 4.4
#### Import libraries
#### Data wrangling procedures
### Exercise 4.4 Tasks
#### Export Dataframes

### Exercise 4.4
procedures from reading

#### Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\hardy\10-2025 Instacart Basket Analysis'

In [3]:
#checking path 
path

'C:\\Users\\hardy\\10-2025 Instacart Basket Analysis'

In [4]:
# Import order.csv 
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [5]:
df_ords.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
# Import product.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [7]:
#checking import 
df_prods.head(5)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#checking prices- 
# Top 50 most expensive items
top_50_expensive = df_prods.nlargest(50, 'prices')

In [9]:
# View the result
top_50_expensive

,product_id,product_name,aisle_id,department_id,prices
33666,33664,2 % Reduced Fat Milk,84,16,99999.0
21554,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0
9020,9020,Boneless Skinless Chicken Thighs,35,12,25.0
19392,19391,Turkey Breast Tenderloins,49,12,25.0
21468,21467,Wild Caught Raw Shrimp,15,12,25.0
25580,25579,Naturally Smoked Trout Fillet,15,12,25.0
40490,40486,Chicken Tenders,49,12,25.0
9896,9896,Uncured Applewood Smoked Bacon,106,12,24.9
14207,14207,Angus Roast Beef,7,12,24.9
36577,36573,Peppered Bacon,106,12,24.9
39050,39046,Smok Cured Turkey Bacon,106,12,24.9
41097,41093,Sugar Free Dry Rub Bacon,106,12,24.9
48343,48339,Lobster Tails,39,12,24.9
9302,9302,Thin Sliced Chicken Breast,35,12,24.8
19548,19547,Beef Frankfurters,106,12,24.8
22193,22192,Lite Beef Franks,106,12,24.8
26078,26077,Cocktail Sausages,106,12,24.8
33987,33985,"Sausage, Chorizo",106,12,24.8
10814,10814,Applewood Smoked Bacon,106,12,24.7
21141,21140,Grillers Cheddar Cheese & Bacon Patties 6 Count,7,12,24.7
22956,22955,Diced Ham,7,12,24.7
30545,30543,Herring In Wine Sauce,15,12,24.7
38752,38748,Polish Kielbasa,106,12,24.7
8441,8441,Farmland Hickory Smoked Bacon 24oz,106,12,24.6
23806,23805,Peppered Turkey Bacon,106,12,24.6
24884,24883,Bone In Chicken Thighs,35,12,24.6
38950,38946,Everyday Original Turkey Bacon,106,12,24.6
1992,1992,Beef (101445) Summer Sausage,106,12,24.5
27484,27482,Turkey Sausage,106,12,24.5
44570,44566,Thick Cut Bacon,106,12,24.5
45644,45640,Lite Polska Kielbasa,106,12,24.5
47884,47880,Turkey Cranberry Sausage,106,12,24.5
8914,8914,Chicken Breast,35,12,24.4
16972,16972,Fresh Catfish Fillet,39,12,24.4
19001,19000,Wild Caught Sea Scallops,15,12,24.4
20124,20123,Smoked Ham Shanks,7,12,24.4
47786,47782,Lamb Stew Meat,122,12,24.4
83,84,Lamb Shank,7,12,24.3
3529,3529,Fully Cooked Original Bacon,106,12,24.3
22071,22070,Fully Cooked Breakfast Sausage Original Recipe,106,12,24.3
24087,24086,Beef Tenderloin Steak,122,12,24.3
46390,46386,Ground Sirloin Beef,122,12,24.3
5646,5646,Organic Turkey Bacon,106,12,24.2
8743,8743,Fully Cooked Turkey Sausage Patties,106,12,24.2
7337,7337,Supremo Pork Chorizo 12 Oz.,106,12,24.1
10197,10197,Chicken Meatballs Spicy Mango & Jalapeno,7,12,24.1
14453,14453,Uncured Bacon,106,12,24.1
41675,41671,Original Patties (100965) 12 Oz Breakfast,106,12,24.1
41880,41876,Premium Hardwood Smoked Seasoned Angus Beef Fr...,106,12,24.1
12841,12841,King Crab Legs,39,12,24.0

In [10]:
# Change price for product_id 33664 (2% Reduced Fat Milk)
df_prods.loc[df_prods['product_id'] == 33664, 'prices'] = 9.99

In [11]:
# Change price for product_id 21553 (Lowfat 2% Milkfat Cottage Cheese)
df_prods.loc[df_prods['product_id'] == 21553, 'prices'] = 14.90

In [12]:
# Verify the changes
df_prods[df_prods['product_id'].isin([33664, 21553])][['product_id', 'product_name', 'prices']]

       product_id                      product_name  prices
21554       21553  Lowfat 2% Milkfat Cottage Cheese   14.90
33666       33664             2 % Reduced Fat  Milk    9.99

In [13]:
#double checking most expensive products
top_50_expensive = df_prods.nlargest(50, 'prices')

In [14]:
# View the result
top_50_expensive

,product_id,product_name,aisle_id,department_id,prices
9020,9020,Boneless Skinless Chicken Thighs,35,12,25.0
19392,19391,Turkey Breast Tenderloins,49,12,25.0
21468,21467,Wild Caught Raw Shrimp,15,12,25.0
25580,25579,Naturally Smoked Trout Fillet,15,12,25.0
40490,40486,Chicken Tenders,49,12,25.0
9896,9896,Uncured Applewood Smoked Bacon,106,12,24.9
14207,14207,Angus Roast Beef,7,12,24.9
36577,36573,Peppered Bacon,106,12,24.9
39050,39046,Smok Cured Turkey Bacon,106,12,24.9
41097,41093,Sugar Free Dry Rub Bacon,106,12,24.9
48343,48339,Lobster Tails,39,12,24.9
9302,9302,Thin Sliced Chicken Breast,35,12,24.8
19548,19547,Beef Frankfurters,106,12,24.8
22193,22192,Lite Beef Franks,106,12,24.8
26078,26077,Cocktail Sausages,106,12,24.8
33987,33985,"Sausage, Chorizo",106,12,24.8
10814,10814,Applewood Smoked Bacon,106,12,24.7
21141,21140,Grillers Cheddar Cheese & Bacon Patties 6 Count,7,12,24.7
22956,22955,Diced Ham,7,12,24.7
30545,30543,Herring In Wine Sauce,15,12,24.7
38752,38748,Polish Kielbasa,106,12,24.7
8441,8441,Farmland Hickory Smoked Bacon 24oz,106,12,24.6
23806,23805,Peppered Turkey Bacon,106,12,24.6
24884,24883,Bone In Chicken Thighs,35,12,24.6
38950,38946,Everyday Original Turkey Bacon,106,12,24.6
1992,1992,Beef (101445) Summer Sausage,106,12,24.5
27484,27482,Turkey Sausage,106,12,24.5
44570,44566,Thick Cut Bacon,106,12,24.5
45644,45640,Lite Polska Kielbasa,106,12,24.5
47884,47880,Turkey Cranberry Sausage,106,12,24.5
8914,8914,Chicken Breast,35,12,24.4
16972,16972,Fresh Catfish Fillet,39,12,24.4
19001,19000,Wild Caught Sea Scallops,15,12,24.4
20124,20123,Smoked Ham Shanks,7,12,24.4
47786,47782,Lamb Stew Meat,122,12,24.4
83,84,Lamb Shank,7,12,24.3
3529,3529,Fully Cooked Original Bacon,106,12,24.3
22071,22070,Fully Cooked Breakfast Sausage Original Recipe,106,12,24.3
24087,24086,Beef Tenderloin Steak,122,12,24.3
46390,46386,Ground Sirloin Beef,122,12,24.3
5646,5646,Organic Turkey Bacon,106,12,24.2
8743,8743,Fully Cooked Turkey Sausage Patties,106,12,24.2
7337,7337,Supremo Pork Chorizo 12 Oz.,106,12,24.1
10197,10197,Chicken Meatballs Spicy Mango & Jalapeno,7,12,24.1
14453,14453,Uncured Bacon,106,12,24.1
41675,41671,Original Patties (100965) 12 Oz Breakfast,106,12,24.1
41880,41876,Premium Hardwood Smoked Seasoned Angus Beef Fr...,106,12,24.1
12841,12841,King Crab Legs,39,12,24.0
18232,18232,Beef Skirt Steak,122,12,24.0
28185,28183,"Franks, Beef, Deli Style, Bun Size",106,12,24.0

#### Data Wrangling procedures

In [15]:
# Dropping eval_set column from orders.csv
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [16]:
#changing df_ords to perminantly drop 'eval_set'
df_ords = df_ords.drop(columns = ['eval_set'])

In [17]:
#checking output
df_ords

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [18]:
#looking at days_since_prior_order column for missing values
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [19]:
#NaN has 206209 counts however, should not delete bc it will be important later

In [20]:
#Renaming columns
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [21]:
#checking output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [22]:
#Changing variable's data type
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [24]:
#checking output
df_ords['order_id'].dtype

dtype('O')

In [25]:
#Importing data set department.csv
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [26]:
#checking output
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [27]:
# Transposing df_dep
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [28]:
#changing dataframe to include updates 
df_dep_t = df_dep.T

In [29]:
#adding an index 
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [30]:
# Take the first row of the df_dep_t for the header 
new_header = df_dep_t.iloc[0]

In [31]:
#check 
new_header

0    department
Name: department_id, dtype: object

In [32]:
#removing duplicate 
df_dep_t_new = df_dep_t[1:]

In [33]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [34]:
#set new header row as the df header
df_dep_t_new.columns = new_header

In [35]:
#check output
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

#### Making a Data Dictionary

In [36]:
#create a data dictionary 
data_dict = df_dep_t_new.to_dict('index')

In [37]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [38]:
#using data dictionary 
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [39]:
#using data dictionary 
print(data_dict.get('19'))

{'department': 'snacks'}

In [41]:
#create subset for df_prods
df_prods['department_id']==19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [43]:
#running indexing code wrapped within another instance 
df_prods[df_prods['department_id']==19]

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [44]:
#save in new dataframe 'df_snacks'
df_snacks = df_prods[df_prods['department_id']==19]

In [45]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [46]:
# Practicing alternative functions- loc and iloc
df_snacks_2 = df_prods.loc[df_prods['department_id'] == 19]

In [48]:
#checking output
df_snacks_2

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [47]:
# Practicing alternative functions- loc and iloc
df_snacks_3 = df_prods.loc[df_prods['department_id'].isin([19])]

In [49]:
#checking outputs 
df_snacks_3

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

### Exercise Tasks
steps 2-14

In [50]:
#changing user_id datatype
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [51]:
#checking output
df_ords.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [52]:
#rename 'order_number' to 'customer_order_number'
df_ords.rename(columns = {'order_number': 'customer_order_number'})

,order_id,user_id,customer_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [53]:
#customer wants to know the busiest hour
df_ords['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

The busiest hour to place an order is 10:00 am

In [54]:
#use data dictiory to find value of 'department_id' 4
print(data_dict.get('4'))

{'department': 'produce'}

In [55]:
#create subset including info about breakfast item sales
print(data_dict.get('14'))

{'department': 'breakfast'}

In [56]:
#create subset including info about breakfast item sales
df_breakfast = df_prods[df_prods['department_id'] == 14]

In [57]:
#check output
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

In [58]:
#create subset to detail products that customers might use to throw dinner parties departments include alcohol, deli, beverages, and meat/seafood
df_dinner_party_products = df_prods.loc[df_prods['department_id'].isin([5,20,7,12])]

In [59]:
df_dinner_party_products.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

In [60]:
#check total counts in dataframes
df_dinner_party_products.shape

(7650, 5)

In [61]:
#extract all info on user_id 1
df_user1=df_ords.loc[df_ords['user_id'] == '1']

In [62]:
#check output
df_user1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [63]:
#checking outputs
df_user1.shape

(11, 6)

In [64]:
#checking outputs
df_user1.head(11)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

In [65]:
#provide basic stats on user_1 behavior
df_user1.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

User 1 has placed 11 orders so far. User will go an average of 19 days in between orders. User will typically order around 10 am and typically orders early in the week.

### Exporting dataframes

In [66]:
#export df_ords
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [67]:
#export df_departments
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))

In [68]:
#export df_prods
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'prods_wrangled.csv'))